<ion-header>
  <ion-toolbar>
    <ion-title>
      Suh
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    The world is your oyster, Michael.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be
      your guide.</p>

    <div class="signUpBtns">
      <section>
        <header>Already have an account? </header>
        <ion-button size="large" expand="block" (click)="login()">Login</ion-button>
      </section>
      <section>
        <ion-button size="large" expand="block" (click)="signUp()">Register</ion-button>
      </section>
    </div>
  </div>
</ion-content>