<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form (ngSubmit)="login()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Email <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="text" [(ngModel)]="email" name="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="password" [(ngModel)]="password" name="password"></ion-input>
      </ion-item>

      <div class="ion-padding">
        <ion-button expand="block" type="submit" class="ion-no-margin">Login</ion-button>
      </div>
    </ion-list>
  </form>
  <ion-text *ngIf="badLogin" color="danger">You done fucked up son</ion-text>
</ion-content>